<!DOCTYPE html> 
<html>
    <head>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}common.css" rel="stylesheet">
        <script type src="{{ STATIC_URL }}jquery.min.js"> </script>
        <script type src="{{ STATIC_URL }}bootstrap/js/bootstrap.js">
        </script>
        <title>{% block title %}Судалгааны төсөл{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}
        {% endblock %}
        </div>
    </body>
</html>
