<!DOCTYPE html>
<html>
    <head>
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}common.css" rel="stylesheet">
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <form method="POST" action="">
                    <input type="text" name="user_id">
                    <button type="submit" class="btn">Нэвтрэх</button>
                </form>
            </div>
        </div>
    </body>
</html>
